@model Capstone.Models.ViewModels.Clothing.ClothesUploadPictureViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Clothes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Clothes" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Clothes.ClothesTypeId" class="control-label"></label>
                <select asp-for="Clothes.ClothesTypeId" class="form-control" asp-items="ViewBag.ClothesTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Clothes.Size" class="control-label"></label>
                <input asp-for="Clothes.Size" class="form-control" />
                <span asp-validation-for="Clothes.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clothes.Color" class="control-label"></label>
                <input asp-for="Clothes.Color" class="form-control" />
                <span asp-validation-for="Clothes.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clothes.Description" class="control-label"></label>
                <input asp-for="Clothes.Description" class="form-control" />
                <span asp-validation-for="Clothes.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Clothes.IsOutgrown" /> @Html.DisplayNameFor(model => model.Clothes.IsOutgrown)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
