
@{
    ViewData["Title"] = "LandingPage";
}

    <div class="jumbotron" style="background-color: #5cdb95">
        <h1 class="display-4">KIDKLUTTER</h1>
        <p class="lead">KidKlutter is designed for parents to keep their childrens things organized.</p>
        <hr class="my-4">
        <p>DeKlutter with KidKlutter</p>
    </div>